body {
    background-color: Navy;
}

h1 {
    text-align: center;
    font-size: xx-large;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-top: auto;
    padding-bottom: 20px;
}

h2 {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: lighter;
    margin-top: 45px;
    margin-bottom: 45px;
    margin-right: 45px;
    margin-left: 45px;
    background-color: red;

}

#Hello {
    text-align: center;
    font-size: xx-large;
    font-weight: 900;

}

#padding1 {
    background-color: grey;
    height: 65px;
    text-align: center;
    font-size: xx-large;
    padding-top: 35px;
    padding-right:  35px;
}